<div class="comments-area">
  <div class="comments-inner">
    <h2 class="comments-title">Comments</h2>
    <div id="giscus"></div>  </div><!-- .comments-inner -->
</div><!-- .comments-area -->
<script src="https://giscus.app/client.js"
        data-repo="Adeyeye93/Potion"
        data-repo-id="R_kgDOMuJ4FA"
        data-category="General"
        data-category-id="DIC_kwDOMuJ4FM4CiRrX"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>